body,
html {
    height: 100%;
    margin: 0;
}

.container {
    text-align: center;
    height: 100vh;
    width: 100vw;
    padding: 16px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    gap: 15px;
    grid-template-areas:
        "header header"
        "sidebar nav"
        "sidebar article"
        "footer footer";
}

.container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    border-radius: 15px;
}

.header {
    background-color: #006157;
    grid-column: 1 / 3;
    grid-area: header;
}

.sidebar {
    background-color: #005b94;
    grid-row: 2 / 4;
    grid-area: sidebar;
}

.nav {
    background-color: #642cde;
    grid-area: nav;
}

.article {
    background-color: #7e1dc3;
    grid-area: article;
}

.article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
}

.footer {
    background-color: #393f4d;
    grid-column: 1 / 3;
    grid-area: footer;
}
